body {
	font-family: Arial, Helvetica, sans-serif;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	border: 1px dotted red;
}
li {
	border: 1px solid #999;
	margin: 0.5em;
	padding: 0.5em;
}







