html {
  box-sizing: border-box;
}
*, 
*:before, 
*:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
}
li {
	flex: 0 0 100%;
}
img { 
  width: 100%; 
}
@media (min-width: 605px) {
	li {
		flex: 0 0 50%;
	}
}
@media (min-width: 910px) { 
	li {
		flex: 0 0 33%;
	}
}