/* Based on "Composition II in Red, Blue, and Yellow," by Piet Mondrian (1930): https://en.wikipedia.org/wiki/Piet_Mondrian */
.wrapper {
  width: 633px;
  height: 458px;
  background: url(mondrian2.png) no-repeat;
  display: grid;
  gap: 10px;
  grid-template-rows: 4fr 1fr 2fr 1fr;
  grid-template-columns: ;
}
div {
  border: 1px solid black;
  background-color: white;
  opacity: 0.5;
}
.a {
}
.b {
}
.c {
}
.d {
}
.e {
}
.f {
}
.g {
}
.h {
}
.i {
}
.j {
}
